
/*
FancyPants File Uploader - JavaScript and PHP web-based file uploader
Copyright (C) 2018  Lee Slater

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/


/* Generic style CSS */

/* Uploader base appearance */
.uploader {
	background-color: #f5f5f5;
	height: auto;
	width: 100%;
	margin: 15px 0px;
	font-family: 'Lato', sans-serif;
	transition: background-color .20s linear, color .20s linear, outline-offset .20s linear;
	outline: dashed #bbb 2px;
	border-radius: 2px;
	padding: 5px;
}
.uploader .label-container {
	justify-content: center;
	display: flex;
}
.uploader > .status {
	box-shadow: none;
	height: auto;
	font-size: 15px;
	color: #888;
	width: 100%;
	display: block;
	text-align: center;
	pointer-events: none;
	padding-top: 10px;
}
.uploader > .help {
	background-color: #eee;
	margin: 5px;
	padding: 10px 15px;
	border: solid 1px #ccc;
	font-size: 1rem;
}
.uploader label {
	transition: background-color .20s linear;
	background-color: #c1002b;
	vertical-align: center;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	margin: 10px;
	font-size: 17px;
	align-items: center;
	padding: 10px 20px;
	text-overflow: ellipsis;
}
.uploader label:hover {
	background-color: #b0001a;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.35);
}
.uploader .file_field, .hidden {
	display: none;
}
.file-list > div {
	border-top: solid 1px #ccc;
	height: 30px;
}
.file-list .status-name {
	font-size: 15px;
	float: left;
	text-align: left;
	word-break: break-all;
	height: 1em;
	line-height: 1em;
	margin: 6px 15px;
	position: relative;
	z-index: 1;
}
.file-list .status-bar {
	transition: width 0.5s linear;
	box-sizing: border-box;
	background-color: #ddd;
	height: 100%;
	width: 0%;
}
.file-list > div > .file-name {
	font-size: 15px;
	float: left;
	text-align: left;
	word-break: break-all;
	height: 1em;
	line-height: 1em;
	margin: 6px 15px;
}
.file-list > div > .file-status {
	text-align: right;
	font-size: 15px;
	color: #888;
	pointer-events: none;
	height: 1em;
	line-height: 1em;
	margin: 6px 15px;
}
.file-list > div > .file-status.error {
	color: red;
}
.file-list > div > .file-name > button {
	font-size: 15px;
	background: none;
	border: none;
	padding: 0px;
	text-align: center;
	margin: 0px;
	color: blue;
	cursor: pointer;
	vertical-align: top;
	height: 1em;
	line-height: 1em;
}
@media (max-width : 900px) {
	/* File status for mobile */
	.file-status > .verbose {
		display: none;
	}
	.file-status > .material-icons {
		pointer-events: auto;
	}
	.file-name {
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.file-list > div > .file-name {
		font-size: 15px;
		float: left;
		text-align: left;
		word-break: break-all;
		height: 1em;
		line-height: 1em;
		margin: 6px 15px;
		position: relative;
		z-index: 1;
	}
	.file-list > div > .file-status {
		height: 100%;
		right: 0px;
		margin: 0px;
	}
	.file-list > div > .file-status > .material-icons {
		margin: 3px;
	}
}
@media (min-width : 900px) {
	/* File status for desktop */
	.file-status > .material-icons {
		display: none;
	}
}



/* A file is being dragged over the uploader */
.uploader.drag {
	background-color: #eee;
	transition: outline-offset .20s linear, color .20s linear;
	outline-offset: -5px;
}


/* Upload in progress or uploader disabled */
.uploader.in-progress,
.uploader.disabled {
	box-shadow: none;
	background-color: #f5f5f5;
	outline: none;
	outline: solid 1px #ccc;
	outline-offset: 0px;
}
.uploader.in-progress label,
.uploader.disabled label {
	pointer-events: none;
	box-shadow: none;
	background-color: #eee;
	color: #999;
}
.uploader.in-progress > .status {
	color: #cacaca;
	font-weight: normal;
}
.uploader.disabled > .help {
	background-color: #eee;
	margin: 5px 10px;
	padding: 10px 15px;
	border: solid 1px #eee;
	font-size: 1rem;
	color: #999;
}


/* Validation failed */
.validation_failed {
	outline: 2px solid #c1002b;
}
.validation_failed label:hover, .validation_failed label.drag {
	background-color: #a00;
	color: #fff;
}
.validation_failed .status {
	color: #c1002b;
	font-weight: bold;
}

